<h1 align=center style="font-size:2vw"><span style="color:#2EA18C">Proyecto alcaldía de Bucaramanga - Team 211</span></h1>

<h2 align=left ><span style="color:#A12E43">Members:</span></h2>

- Cesar Marín
- Angie Nicole Hernández
- Giovanny De La Cruz
- Jairo David Chia Bejarano
- Juan Sebastian Rojas Sabogal
- Michael Leonardo Gómez Gómez
- José Joaquín Rondón Rubiano

In [1]:
import pandas as pd
import numpy as np
import re
from matplotlib import pyplot as plt
import seaborn as sns

<h1 align=left style="font-size:1.5vw"><span style="color:#2EA18C">1. Dataset: Gender and domestic violence </span></h1>

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">A) Importing the dataset:</span></h3>

In [2]:
violencia = pd.read_csv('Violenciager.csv',encoding="utf-8")
violencia.head(1)

,Orden,Departamento,Municipio,semana,año,Grupo edad,Ciclo de vida,sexo_,area_,Barrio,...,sust_vict,fec_hecho,hora_hecho,escenario,zona_conf,nom_eve,nom_upgd,ndep_resi,nmun_resi,MES
0,1,SANTANDER,BUCARAMANGA,23,2015,12 a 17,Adolescencia,Masculino,CABECERA MUNICIPAL,Transición,...,2,2015-06-12T00:00:00.000,06:30,1.0,2,VIGILANCIA EN SALUD PÚBLICA DE LAS VIOLENCIAS ...,SERVICLINICOS DROMEDICA SA,SANTANDER,BUCARAMANGA,06. Junio

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">B) Exploring our Dataset:</span></h3>

## - Dataset columns:

In [3]:
violencia.columns

Index(['Orden', 'Departamento', 'Municipio', 'semana', 'año', 'Grupo edad',
       'Ciclo de vida', 'sexo_', 'area_', 'Barrio', 'Comuna',
       'Tipo de Seguridad Social', 'pac_hos_', 'con_fin_', 'version',
       'naturaleza', 'def_naturaleza', 'actividad', 'nom_actividad',
       'edad_agre', 'sexo_agre', 'parentezco_vict', 'sust_vict', 'fec_hecho',
       'hora_hecho', 'escenario', 'zona_conf', 'nom_eve', 'nom_upgd',
       'ndep_resi', 'nmun_resi', 'MES'],
      dtype='object')

## - Filtering by deparment: Santander

We chose the deparment of santander instead of just the city of Bucaramanga aiming to complete the missing values

In [4]:
violencia = violencia[violencia['Departamento'] == 'SANTANDER']
violencia['Departamento'] = violencia['Departamento'].str.lower()
violencia['Municipio'] =violencia['Municipio'].str.lower()

In [5]:
violencia.columns= violencia.columns.str.lower()

## - Missing Values

In [6]:
percent_missing = violencia.isnull().sum() * 100 / len(violencia)
miss_values = pd.DataFrame({'label': violencia.columns,
                            'missing': percent_missing})
miss_values[miss_values['missing']> 0]

                         label    missing
naturaleza          naturaleza   1.445030
def_naturaleza  def_naturaleza   1.445030
edad_agre            edad_agre  24.585042
sexo_agre            sexo_agre   0.068346
fec_hecho            fec_hecho   0.048819
hora_hecho          hora_hecho  44.727592
escenario            escenario   0.029291

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">C) Giving consistency to our dataset and data cleaning:</span></h3>

Firstly, These are the colums and their data type:

In [7]:
violencia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10242 entries, 0 to 10334
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   orden                     10242 non-null  int64
 1   departamento              10242 non-null  object
 2   municipio                 10242 non-null  object
 3   semana                    10242 non-null  int64
 4   año                       10242 non-null  int64
 5   grupo edad                10242 non-null  object
 6   ciclo de vida             10242 non-null  object
 7   sexo_                     10242 non-null  object
 8   area_                     10242 non-null  object
 9   barrio                    10242 non-null  object
 10  comuna                    10242 non-null  object
 11  tipo de seguridad social  10242 non-null  object
 12  pac_hos_                  10242 non-null  int64
 13  con_fin_                  10242 non-null  int64
 14  version                   10242 non-null  object
 15  naturaleza                10094 non-null  float64
 16  def_naturaleza            10094 non-null  object
 17  actividad                 10242 non-null  int64
 18  nom_actividad             10242 non-null  object
 19  edad_agre                 7724 non-null   float64
 20  sexo_agre                 10235 non-null  object
 21  parentezco_vict           10242 non-null  object
 22  sust_vict                 10242 non-null  int64
 23  fec_hecho                 10237 non-null  object
 24  hora_hecho                5661 non-null   object
 25  escenario                 10239 non-null  float64
 26  zona_conf                 10242 non-null  int64
 27  nom_eve                   10242 non-null  object
 28  nom_upgd                  10242 non-null  object
 29  ndep_resi                 10242 non-null  object
 30  nmun_resi                 10242 non-null  object
 31  mes                       10242 non-null  object
dtypes: float64(3), int64(8), object(21)
memory usage: 2.6+ MB

## - Year and week

We'll convert the week and Year int 64 columns to date time

In [8]:
violencia['semana'] = pd.to_datetime(violencia['semana'], format="%w",errors='ignore')

- there are 3 unconvertable week values, so for the time being we'll ignore it

In [9]:

violencia['año'] = pd.to_datetime(violencia['año'], format="%Y")

## - Age group and lifecycle

We converted these two data objects to categories, Also we change some error excel values to np.nan

In [10]:
violencia['Grupo edad'] =violencia['Grupo edad'].replace('ERROR: #N/A',np.nan).astype('category')

KeyError: 'Grupo edad'

In [ ]:
violencia['Ciclo de vida']= violencia['Ciclo de vida'].replace('ERROR: #N/A',np.nan).str.lower()

## - Sex

There are only two values F and M, so we coverted it to two categories, and lowered their case

In [ ]:
violencia['sexo_'] = violencia['sexo_'].astype('category').str.lower()

## - Neighboorhoods

We lowered the case of the neighboorhoods

In [ ]:
violencia['Barrio'] = violencia['Barrio'].str.lower()

## - Boroughs

The boroughs were quite a challenge as they had points and numbers in each entry.

- First we lowered the case

In [ ]:
violencia['Comuna']= violencia['Comuna'].str.lower()

- Then ussing re we got rid of those points and numbers, and appended it to a list

In [ ]:

order = r'[0-9,.]'
comunas = list(violencia['Comuna'].str.lower())
comunas_clean = []
for i in range(len(comunas)):
    
    filtered_string = re.sub(order,'',comunas[i])
    comunas_clean.append(filtered_string.lstrip())        

comunas_clean = pd.Series(comunas_clean)

- Finally we replace the *Comuna* colums with our cleaned list

In [ ]:
violencia['Comuna'] =comunas_clean

## - Social security

We only lowered its case

In [ ]:
violencia['Tipo de Seguridad Social']=violencia['Tipo de Seguridad Social'].str.lower()

## - Death or alive arrival state

CoWe converted it to a category, but there was a strange categoy '0' which din´t corresponded to death or alive so we replaced it with nan values

In [ ]:
violencia[violencia['con_fin_']==0].count()

In [ ]:
violencia['con_fin_'] = violencia['con_fin_'].astype('category').replace(0,np.nan)

## - Type of violence and description

There was a category ('99') that meant 'no information', so we converted it to a nan to perform interpolation in this column, then it was categorized

In [ ]:
violencia['naturaleza'] = violencia['naturaleza'].replace(99.0,np.nan)
violencia['naturaleza']=violencia['naturaleza'].astype('category')

'no information' was replaced by a nan

In [ ]:


violencia['def_naturaleza'] =violencia['def_naturaleza'].replace('Sin información',np.nan)
violencia['def_naturaleza']=violencia['def_naturaleza'].str.lower().astype('category')

## - Type of activity and description

we categorized the activities

In [ ]:
violencia['actividad']
violencia['actividad'] =violencia['actividad'].astype('category')

there was what seemend to be a excel error we changed it to a nan value

In [ ]:
violencia['nom_actividad']= violencia['nom_actividad'].replace('ERROR: #N/A',np.nan).str.lower()
violencia['nom_actividad'] =violencia['nom_actividad'].astype('category')

In [ ]:
violencia['nom_actividad'].unique()

## - Agressor age

We change this float64 to a category in order to replace its missing values (which were around 24%), also it seemed a little nonsensical that that there were 2000 agressors with age 0 so we remplaced those values with a nan.

This provoked that the missing values skyrocketed from 24% to 50%

In [ ]:

violencia['edad_agre']=violencia['edad_agre'].astype('category')

In [ ]:
violencia['edad_agre'] = violencia['edad_agre'].replace(0.0,np.nan)

In [ ]:
violencia['edad_agre']=violencia['edad_agre'].astype('float64')

## - Agressor sex

It has 4 categories M,MF SD e I

In [ ]:
violencia['sexo_agre'] =violencia['sexo_agre'].astype('category')

## - Victim kinship

we lowered its case

In [ ]:
violencia['parentezco_vict'] = violencia['parentezco_vict'].str.lower()

## - Ocurrence date

We changed the ocurrence date to date time, we had to split the original object date

In [ ]:
violencia['fec_hecho']=pd.to_datetime(violencia['fec_hecho'].str.split('T00').str[0],format='%Y-%m-%d')

## - Ocurrence Hour

We are missing 44% of hour data but we hadn´t any feasible way of interpolating these valeus so we had to only convert the complete values that we had to date time.

In [ ]:
violencia['hora_hecho'] = pd.to_datetime(violencia['hora_hecho'],format='%H:%M',errors= 'ignore')

## - Residence deparment

We lowered its case

In [ ]:
violencia['ndep_resi'] = violencia['ndep_resi'].str.lower()

## - Month

We changed the month to datetime

In [ ]:
violencia['MES'] = pd.to_datetime(violencia['MES'].str.split('.').str[0],format='%m').dt.month

# Final result

In [ ]:
violencia.info()

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">D) Interpolating missing values:</span></h3>

## New missing values percentage:

In [ ]:
percent_missing = violencia.isnull().sum() * 100 / len(violencia)
miss_values = pd.DataFrame({'label': violencia.columns,
                            'missing': percent_missing})
miss_values[miss_values['missing']> 0]

## -Type of violence

Firstly we interpolated the ktypes of violence

In [ ]:
cat_codes_num = violencia['naturaleza'].cat.codes.replace(-1, np.nan)
cat_codes_num = cat_codes_num.interpolate()
cat_codes_num = cat_codes_num.astype(int).astype('category')
#-------------------------------
violencia['naturaleza'] = cat_codes_num

As the 'naturaleza' categories correspond to a code of type of violence, we took the name of the violent act and assinged it to its  interpolated category value.

In [ ]:
dicnat = {0:'violencia fisica',
          1:'violencia psicologica',
          2:'negligencia y abandono',
          3:'abuso sexual',
          4:'acoso sexual',
          5:'violacion',
          6:'explotacion sexual, comercial niños, adolescentes',
          7:'actos sexuales violencia',
          8:'otros actos sexuales'    
}
numbers = list(violencia[violencia['def_naturaleza'].isna()].index)
for i in range(len(numbers)):
    violencia['def_naturaleza'].loc[numbers[i]] = dicnat[violencia['naturaleza'].loc[i] ]

## - Agressor age

We had about a 50% missing values, regardless of this we proceeded to interpolating this value

In [ ]:

cat_codes_age= violencia['edad_agre'].interpolate()
cat_codes_age = round(cat_codes_age.astype(float),1)
#--------------
violencia['edad_agre'] = cat_codes_age

## - Activities

We did the same as in type of violence

In [ ]:
cat_codes_act = violencia['actividad'].cat.codes.replace(-1, np.nan)
cat_codes_act= cat_codes_act.interpolate()
cat_codes_act=cat_codes_act.astype(int).astype('category')
# #--------------
violencia['actividad'] = cat_codes_act

This colums were mostly complete it only missed a few 9 category = nan values, we chose to replace thes values to ninguno and its corresponding category '12'

In [ ]:
dicact = {9: 'ninguna'   
}
#12
numbers_act = list(violencia[violencia['nom_actividad'].isna()].index)
for i in range(len(numbers_act)):
   
    violencia['nom_actividad'].loc[numbers_act[i]] = dicact[9]
    violencia['actividad'].loc[numbers_act[i]] = 12

# Final result

In [ ]:
percent_missing = violencia.isnull().sum() * 100 / len(violencia)
miss_values = pd.DataFrame({'label': violencia.columns,
                            'missing': percent_missing})
miss_values[miss_values['missing']> 0]

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">E) EDA:</span></h3>

We comenced our EDA by describing some values of our dataset

In [ ]:
violencia['edad_agre'].describe()

In [ ]:
violencia['semana'].describe()

In [ ]:
violencia['grupo edad'].describe()

In [ ]:
violencia['ciclo de vida'].describe()

In [ ]:
violencia['comuna'].describe()

In [ ]:
violencia['nom_actividad'].describe()

In [ ]:
violencia['parentezco_vict'].describe()

## - Searching for correlation

We tried to find some correlation between our variables

In [ ]:
violencia.corr()

In [ ]:
sns.heatmap(violencia.corr());

As we can see there aren't many strongly correlated values, excepting the week and month variables

## - Plotting the data

First we'll plot the municipality with more ocurrences

In [ ]:
violencia_ocurrences= violencia.groupby('municipio').count().reset_index().sort_values('naturaleza',ascending=False)

In [ ]:
sns.barplot(y='municipio',x='naturaleza',data = violencia_ocurrences, orient = 'h').set(xlabel='ocurrences')

Even though we use The Santander's cases, we still find that the majority of cases concurr in Bucaramanga

In [ ]:
voilencia_ocurrences_outside_buc = violencia_ocurrences[violencia_ocurrences['municipio'] != 'bucaramanga']

In [ ]:
sns.barplot(y='municipio',x='naturaleza',data = voilencia_ocurrences_outside_buc, orient = 'h').set(xlabel='ocurrences')

In [ ]:
violencia_comuna= violencia.groupby('comuna').count().reset_index().sort_values('naturaleza',ascending=False)

Then we plotted the number of ocurrences per borough

In [ ]:
violencia_ocurrences_bucaramanga = violencia[violencia['municipio'] == 'bucaramanga']
#violencia_ocurrences_bucaramanga =violencia.groupby('orden').count().reset_index().sort_values('naturaleza',ascending=False).head(10)


ax= sns.boxplot(y='comuna',x='orden',data = violencia_ocurrences_bucaramanga,orient='h',palette='husl').set(xlabel='domestic and gender violence ocurrences',title='Gender and domestic violence ocurrences per borough\n');
plt.figure(figsize=(100,20))

In [ ]:
violencia_nat= violencia.groupby('def_naturaleza').count().reset_index().sort_values('orden',ascending=False)

Then we plotted the number of kinds of violence

In [ ]:
sns.barplot(x='def_naturaleza',y='orden',data = violencia_nat).set(xlabel='ocurrences')

Finally, we plotted the ocurrences by year

In [ ]:
violencia_año= violencia.groupby('año').count().reset_index().sort_values('orden',ascending=False)

In [ ]:
sns.lineplot(x='año',y= 'naturaleza',data = violencia_año)

<h1 align=left style="font-size:1.5vw"><span style="color:#2EA18C">2. Dataset: Censo de Habitantes de Calle </span></h1>

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">A) Importing the dataset:</span></h3>

In [ ]:
#dataset Censo de habitantes de calle
chc    = pd.read_excel("Base_Datos_Anonimizada_CHC_Bucaramanga (3)v1.xlsx").drop(0)
chc.head(2)

## - Dataset columns

In [ ]:
#columns of chc
columns_chc    = chc.dtypes
print("The column values of the dataset 'Censo de habitantes de calle (chc)' is: \n\n", columns_chc)

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">B) Missing values:</span></h3>

In [ ]:
#the columns with missing values
chc.isna().sum()[chc.isna().sum() > 0]

The chc dataset has a lot of rows (about 130), and some of missing values. The missing value have to be handled carfully, however, because some correspond to data that was supposed to be boolean, but not all of the missing values correspond to zero.

The data types are all of the object type, which does not mach the real data type.

We need to highlight that a lot of the numerical values in the colums correspond to qualitative data of both ordinal and nominal type. This categorical data, as well, represents more complex answers. For example, for one question, the anser 1 can represent "cédula de ciudadanía" and the answer 2 can mean "registr civil de nacimiento".

Some numerical values are discrete (age of the interviewed, years they have been living on the streets, age of onset of substances consumption, etc).

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">C) Giving consistency to our dataset and data cleaning:</span></h3>

In [ ]:
#changing data types of chc to numerical

chc_cols = list(chc.columns)

for colname in chc_cols:
    chc[str(colname)] = pd.to_numeric(chc[str(colname)])

#Renaming the columns of chc datset

chc_cols = list(chc.columns)
chc_ = [i.strip() for i in chc_cols]
chc.columns = chc_

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">D) EDA:</span></h3>

## - Describing our dataset:

In [ ]:
#some of the oclumns that we can analyze numerically in the chc dataset are the following

chc[["8. ¿Cuántos años cumplidos tiene usted?",
    "Años",
    "Edad inicio del consumo    \n 1. cigarrillo",
    "Edad inicio del consumo    \n 3. marihuana",
    "Edad inicio del consumo           \n 5. cocaína"]].describe()

The age distributin of the people interviewed is right skewed, with a mean of 39.8 years. The average years the interviewed peole had spent on the streets is 13, this distribution is also left skewed. We can also see that the onset of consumption fo the substances showed is concerningly early.

The data in the chc dataset is better described using plots like the following:

First, lets do some examples with the categorical data.

## - Ploting the data

In [ ]:
#bar plots for some of the variables that provide information about the physica state of the person interviewed

plt.figure(figsize=(7,5))

q16a = chc["16. Dada su condición física y mental, y sin ningún tipo de ayuda, ¿usted puede: \n 1. oír la voz o los sonidos?"].value_counts().sort_index()
q16b = chc["16. Dada su condición física y mental, y sin ningún tipo de ayuda, ¿usted puede: \n 3. ver de cerca, de lejos o alrededor?"].value_counts().sort_index()
q16c = chc["16. Dada su condición física y mental, y sin ningún tipo de ayuda, ¿usted puede: \n 4. mover el cuerpo, caminar?"].value_counts().sort_index()

plt.title("Indicadores de la condición física de los entrevistados")
plt.bar(q16a.index - 0.2, q16a,  width=0.2, label = '¿Puede usted oír la voz o los sonidos?')
plt.bar(q16b.index, q16b,  width=0.2, label = '¿Puede usted ver de cerca, de lejos o alrededor?')
plt.bar(q16c.index + 0.2, q16c,  width=0.2, label = '¿Puede usted mover el cuerpo, caminar?')

plt.xticks([1,2,3,4], 
           ["No puede hacerlo", "Sí, con mucha dificultad", "Sí, con alguna dificultad", "Sin dificultad"],
          rotation=45, ha="right");

plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(7,5))

q26a = chc["1. De algún familiar?"].value_counts().sort_index()
q26b = chc["2. De amigos?"].value_counts().sort_index()
q26c = chc["3. De instituciones oficiales?"].value_counts().sort_index()

plt.title("¿Usted recibe algún tipo de ayuda?")
plt.bar(q26a.index - 0.2, q26a,  width=0.2, label = 'De un familiar')
plt.bar(q26b.index, q26b,  width=0.2, label = 'De un amigo')
plt.bar(q26c.index + 0.2, q26c,  width=0.2, label = 'De instituciones oficiales')

plt.xticks([1,2],["Sí","No"])

plt.legend();

Some of the numerical variables.

In [ ]:
plt.figure(figsize=(7,5))

plt.hist([chc["Edad inicio del consumo    \n 1. cigarrillo"],
         chc["Edad inicio del consumo    \n 3. marihuana"],
         chc["Edad inicio del consumo           \n 5. cocaína"]], 
           label = ["Cigarrillo","Marihuana","Cocaína"])
plt.title("Histograma para la edad inicial del consumo de sustancias")
plt.xlabel("Edad (años)")
plt.legend();

<h1 align=left style="font-size:1.5vw"><span style="color:#2EA18C">3. Información de medidas correctivas enero 2017 a febrero 2022 </span></h1>

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">A) Importing the dataset:</span></h3>

In [ ]:
#datset Información de medidas correctivas enero 2017 a febrero 2022
correc = pd.read_csv("93._Informaci_n_de_medidas_correctivas_enero_2017_a_febrero_2022.csv")
correc.head(2)

## - Columns

In [ ]:
correc.info()

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">B) Missing values:</span></h3>

In [ ]:
#the columns with missing values
correc.isna().sum()[correc.isna().sum() > 0]

This dataset has far less missing values than the previous one, and the data type seems to be correct. A lot of data is of the type string. Some columns are numerical but most are categoricl (represent a day of the week, for example).

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">C) Giving consistency to our dataset and data cleaning:</span></h3>

In [ ]:
#making the respective columns into datetime type

correc["FECHA_HECHOS"]= pd.to_datetime(correc["FECHA_HECHOS"],  format='%dd/%mm/%YYYY', errors='ignore')
correc["HORA_HECHOS"]= pd.to_datetime(correc["HORA_HECHOS"])

<h3 align=left style="font-size:1.5vw"><span style="color:#2E7DA1">D) EDA:</span></h3>

In [ ]:
#describng some of the numerical columns

correc[["EDAD","CURSO VIDA ORDEN","RANGO_HORARIO_ORDEN"]].describe()

In the correc dataset we can see that the mean age of the people on this dataset is 28.3 years. We see, though, that thre must be some incorrect data, since the minimum age of one of the people in this dataset is 1 yer old. Thi dataset is "Georreferenciación de las medidas correctivas impuestas en el municipio según los comportamientos contrarios a la convivencia estipulados en la Ley 1801 de 2016, según el capítulo, artículo, numeral, curso de vida, etc.", a one year old data point is missplaced here. 

CURSO_VIDA_ORDEN o the category five represents the age group 25-29, the mos common one among the subjects on the dataset. This column is a little right skewed.

Finally, the hour where most of the correctiv measurements are executed is 1pm.

Now, showing the daily aomunt of correctional measures imposed:

## -Plotting the data

In [ ]:
def plot_time( df, time_var, title, rot = 0):
    
    res = df.groupby([time_var])['ID'].count().reset_index(name="count")
    p = res.plot(x = time_var, y = "count", title = title, rot = rot)
    return p

In [ ]:
p_daily = plot_time( correc, "FECHA_HECHOS", "Daily amount of crimes 2019", rot = 45)
_ = plt.ylabel("Daily total incidents")