<h1 align=center style="font-size:2vw"><span style="color:#2EA18C">Proyecto alcaldía de Bucaramanga - Team 211</span></h1>

<h2 align=left ><span style="color:#A12E43">Integrantes:</span></h2> 

- Cesar Marín
- Angie Nicole Hernández 
- Giovanny De La Cruz
- Jairo David Chia Bejarano
- Juan Sebastian Rojas Sabogal
- Michael Leonardo Gómez Gómez
- José Joaquín Rondón Rubiano

In [1]:
import pandas as pd
import numpy as np
import re

# Importando data frame

In [2]:
violencia = pd.read_csv('.\Violenciager.csv',encoding="utf-8")
violencia.head(1)

,Orden,Departamento,Municipio,semana,año,Grupo edad,Ciclo de vida,sexo_,area_,Barrio,...,sust_vict,fec_hecho,hora_hecho,escenario,zona_conf,nom_eve,nom_upgd,ndep_resi,nmun_resi,MES
0,1,SANTANDER,BUCARAMANGA,23,2015,12 a 17,Adolescencia,Masculino,CABECERA MUNICIPAL,Transición,...,2,2015-06-12T00:00:00.000,06:30,1.0,2,VIGILANCIA EN SALUD PÚBLICA DE LAS VIOLENCIAS ...,SERVICLINICOS DROMEDICA SA,SANTANDER,BUCARAMANGA,06. Junio

Exploring our columns

In [3]:
violencia.columns

Index(['Orden', 'Departamento', 'Municipio', 'semana', 'año', 'Grupo edad',
       'Ciclo de vida', 'sexo_', 'area_', 'Barrio', 'Comuna',
       'Tipo de Seguridad Social', 'pac_hos_', 'con_fin_', 'version',
       'naturaleza', 'def_naturaleza', 'actividad', 'nom_actividad',
       'edad_agre', 'sexo_agre', 'parentezco_vict', 'sust_vict', 'fec_hecho',
       'hora_hecho', 'escenario', 'zona_conf', 'nom_eve', 'nom_upgd',
       'ndep_resi', 'nmun_resi', 'MES'],
      dtype='object')

## - Filtrando por santander

deje todo Santander y no sólo bucaramanda para llenar despues los valores faltantes

In [4]:
violencia = violencia[violencia['Departamento'] == 'SANTANDER']
violencia['Departamento'] = violencia['Departamento'].str.lower()

## - Datos faltantes

In [5]:
percent_missing = violencia.isnull().sum() * 100 / len(violencia)
miss_values = pd.DataFrame({'label': violencia.columns,
                            'missing': percent_missing})
miss_values[miss_values['missing']> 0]

                         label    missing
naturaleza          naturaleza   1.445030
def_naturaleza  def_naturaleza   1.445030
edad_agre            edad_agre  24.585042
sexo_agre            sexo_agre   0.068346
fec_hecho            fec_hecho   0.048819
hora_hecho          hora_hecho  44.727592
escenario            escenario   0.029291

# Dando consistencia a las columnas

In [6]:
violencia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10242 entries, 0 to 10334
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Orden                     10242 non-null  int64
 1   Departamento              10242 non-null  object
 2   Municipio                 10242 non-null  object
 3   semana                    10242 non-null  int64
 4   año                       10242 non-null  int64
 5   Grupo edad                10242 non-null  object
 6   Ciclo de vida             10242 non-null  object
 7   sexo_                     10242 non-null  object
 8   area_                     10242 non-null  object
 9   Barrio                    10242 non-null  object
 10  Comuna                    10242 non-null  object
 11  Tipo de Seguridad Social  10242 non-null  object
 12  pac_hos_                  10242 non-null  int64
 13  con_fin_                  10242 non-null  int64
 14  version                   10242 non-null  object
 15  naturaleza                10094 non-null  float64
 16  def_naturaleza            10094 non-null  object
 17  actividad                 10242 non-null  int64
 18  nom_actividad             10242 non-null  object
 19  edad_agre                 7724 non-null   float64
 20  sexo_agre                 10235 non-null  object
 21  parentezco_vict           10242 non-null  object
 22  sust_vict                 10242 non-null  int64
 23  fec_hecho                 10237 non-null  object
 24  hora_hecho                5661 non-null   object
 25  escenario                 10239 non-null  float64
 26  zona_conf                 10242 non-null  int64
 27  nom_eve                   10242 non-null  object
 28  nom_upgd                  10242 non-null  object
 29  ndep_resi                 10242 non-null  object
 30  nmun_resi                 10242 non-null  object
 31  MES                       10242 non-null  object
dtypes: float64(3), int64(8), object(21)
memory usage: 2.6+ MB

año y semana to datetime

- tres valores en semana no s epudieron convertir

In [7]:
violencia['semana'] = pd.to_datetime(violencia['semana'], format="%w",errors='ignore')

In [8]:

violencia['año'] = pd.to_datetime(violencia['año'], format="%Y")

convertí ciclo de vida y grupo de edad a un tipo categórico, además le quite unos valores que parecen ser un error de excel

In [9]:
violencia['Grupo edad'] =violencia['Grupo edad'].replace('ERROR: #N/A',np.nan).astype('category')

In [10]:
violencia['Ciclo de vida']= violencia['Ciclo de vida'].replace('ERROR: #N/A',np.nan).str.lower()

Spolo hay F y M entonces fue muy directo volverlo una categoria

In [11]:
violencia['sexo_'] = violencia['sexo_'].astype('category')

A los barrios los puse en minúscula

In [12]:
violencia['Barrio'] = violencia['Barrio'].str.lower()

Las comunas fueron más dificiles porque venían con números y punbtos antes de decir la comuna respectiva

- primero los puse en minuscula

In [13]:
violencia['Comuna']= violencia['Comuna'].str.lower()

- luego los squé a todos en una lista y con re le quité los puntos y números que tenía

In [14]:

order = r'[0-9,.]'
comunas = list(violencia['Comuna'].str.lower())
comunas_clean = []
for i in range(len(comunas)):
    
    filtered_string = re.sub(order,'',comunas[i])
    comunas_clean.append(filtered_string.lstrip())        

comunas_clean = pd.Series(comunas_clean)

- finalmente lo puse en la columna ya los datos limpios

In [15]:
violencia['Comuna'] =comunas_clean

A los de ss sólo les bajé la fuente

In [16]:
violencia['Tipo de Seguridad Social']=violencia['Tipo de Seguridad Social'].str.lower()

Con fin es si entro vivo o muerto pero había unos cuantos en 0 envez de 1 y 2

In [17]:
violencia['con_fin_'] = violencia['con_fin_'].astype('category').replace(0,np.nan)

En la naturaleza de la violencia la categoría 99 significaba 'sin información' po loq eu la convertí a un nan

In [18]:
violencia['naturaleza'] = violencia['naturaleza'].replace(99.0,np.nan)
violencia['naturaleza']=violencia['naturaleza'].astype('category')

Sin información lo convertí en un nan

In [19]:


violencia['def_naturaleza'] =violencia['def_naturaleza'].replace('Sin información',np.nan)
violencia['def_naturaleza']=violencia['def_naturaleza'].str.lower().astype('category')

categoricé las actividades que se corresponden con un número

In [20]:
violencia['actividad']
violencia['actividad'] =violencia['actividad'].astype('category')

Deje la categoría ninguno puesot que puede ser que no se dedicque a nada

In [21]:
violencia['nom_actividad']= violencia['nom_actividad'].replace('ERROR: #N/A',np.nan).str.lower()
violencia['nom_actividad'] =violencia['nom_actividad'].astype('category')

In [22]:
violencia['nom_actividad'].unique()

['otro', 'estudiante', 'reciclador', 'trabajadora domestica', 'servidor publico', ..., 'persona dedicada al cuidado del hogar', 'líder cívico', 'persona en situación de prostitución', NaN, 'persona que cuida a otros']
Length: 13
Categories (12, object): ['otro', 'estudiante', 'reciclador', 'trabajadora domestica', ..., 'persona dedicada al cuidado del hogar', 'líder cívico', 'persona en situación de prostitución', 'persona que cuida a otros']

 La edad la deje cómo una categoría para reemplazar los valores faltantes, además los que tenían edad 0 los reemplace con nan, esto elebó el valor de datos faltantes de 24% a 50%

In [23]:

violencia['edad_agre']=violencia['edad_agre'].astype('category')

In [24]:
violencia['edad_agre'] = violencia['edad_agre'].replace(0.0,np.nan)

Tiene 4 categorías M,MF SD e I

In [25]:
violencia['sexo_agre'] =violencia['sexo_agre'].astype('category')

Lo puse en minúsculas

In [26]:
violencia['parentezco_vict'] = violencia['parentezco_vict'].str.lower()

Canvié la fecha del hecho a datetime

In [27]:
violencia['fec_hecho']=pd.to_datetime(violencia['fec_hecho'].str.split('T00').str[0],format='%Y-%m-%d')

Con la hora hacían falta el 44% de los datos por lo tanto tuve que ignorar los valores restantes

In [28]:
violencia['hora_hecho'] = pd.to_datetime(violencia['hora_hecho'],format='%H:%M',errors= 'ignore')

departamento de residencia minúsculas

In [29]:
violencia['ndep_resi'] = violencia['ndep_resi'].str.lower()

mes a date time

In [30]:
violencia['MES'] = pd.to_datetime(violencia['MES'].str.split('.').str[0],format='%m').dt.month

### Así queda la consistencia de la tabla

In [31]:
violencia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10242 entries, 0 to 10334
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Orden                     10242 non-null  int64
 1   Departamento              10242 non-null  object
 2   Municipio                 10242 non-null  object
 3   semana                    10242 non-null  int64
 4   año                       10242 non-null  datetime64[ns]
 5   Grupo edad                10241 non-null  category
 6   Ciclo de vida             10241 non-null  object
 7   sexo_                     10242 non-null  category
 8   area_                     10242 non-null  object
 9   Barrio                    10242 non-null  object
 10  Comuna                    10153 non-null  object
 11  Tipo de Seguridad Social  10242 non-null  object
 12  pac_hos_                  10242 non-null  int64
 13  con_fin_                  10238 non-null  category
 14  version                   10242 non-null  object
 15  naturaleza                9471 non-null   category
 16  def_naturaleza            9471 non-null   category
 17  actividad                 10242 non-null  category
 18  nom_actividad             10237 non-null  category
 19  edad_agre                 5081 non-null   category
 20  sexo_agre                 10235 non-null  category
 21  parentezco_vict           10242 non-null  object
 22  sust_vict                 10242 non-null  int64
 23  fec_hecho                 10237 non-null  datetime64[ns]
 24  hora_hecho                5661 non-null   object
 25  escenario                 10239 non-null  float64
 26  zona_conf                 10242 non-null  int64
 27  nom_eve                   10242 non-null  object
 28  nom_upgd                  10242 non-null  object
 29  ndep_resi                 10242 non-null  object
 30  nmun_resi                 10242 non-null  object
 31  MES                       10242 non-null  int64
dtypes: category(9), datetime64[ns](2), float64(1), int64(6), object(14)
memory usage: 2.0+ MB

## Interpolating missing values

In [32]:
percent_missing = violencia.isnull().sum() * 100 / len(violencia)
miss_values = pd.DataFrame({'label': violencia.columns,
                            'missing': percent_missing})
miss_values[miss_values['missing']> 0]

                         label    missing
Grupo edad          Grupo edad   0.009764
Ciclo de vida    Ciclo de vida   0.009764
Comuna                  Comuna   0.868971
con_fin_              con_fin_   0.039055
naturaleza          naturaleza   7.527827
def_naturaleza  def_naturaleza   7.527827
nom_actividad    nom_actividad   0.048819
edad_agre            edad_agre  50.390549
sexo_agre            sexo_agre   0.068346
fec_hecho            fec_hecho   0.048819
hora_hecho          hora_hecho  44.727592
escenario            escenario   0.029291

primer interpolé las categorías del tipo de violencia

In [33]:
cat_codes_num = violencia['naturaleza'].cat.codes.replace(-1, np.nan)
cat_codes_num = cat_codes_num.interpolate()
cat_codes_num = cat_codes_num.astype(int).astype('category')
#-------------------------------
violencia['naturaleza'] = cat_codes_num

como las categorias de violencia se corresponden con un tipod e violencia en als filas que hacía falta ese dato puse el nombre del tipod e violencia según la categoríua qeu hab´pia sido intepolada

In [34]:
dicnat = {0:'violencia fisica',
          1:'violencia psicologica',
          2:'negligencia y abandono',
          3:'abuso sexual',
          4:'acoso sexual',
          5:'violacion',
          6:'explotacion sexual, comercial niños, adolescentes',
          7:'actos sexuales violencia',
          8:'otros actos sexuales'    
}
numbers = list(violencia[violencia['def_naturaleza'].isna()].index)
for i in range(len(numbers)):
    violencia['def_naturaleza'].loc[numbers[i]] = dicnat[violencia['naturaleza'].loc[i] ]

en la edad faltaba el 50% de los datos hice lo mejor que pude y lso interpolé

In [35]:
cat_codes_age = violencia['edad_agre'].cat.codes.replace(-1, np.nan).replace(0, np.nan)
cat_codes_age= cat_codes_age.interpolate()
cat_codes_age = round(cat_codes_age.astype(float),1)
#--------------
violencia['edad_agre'] = cat_codes_age

lo mismo del paso 1 pero con activbidad

In [36]:
cat_codes_act = violencia['actividad'].cat.codes.replace(-1, np.nan)
cat_codes_act= cat_codes_act.interpolate()
cat_codes_act=cat_codes_act.astype(int).astype('category')
# #--------------
violencia['actividad'] = cat_codes_act

Faltaban pococs valores y todos eran de la categoría 9 = nan por loq eu hice la decisión de jearlos en ninguno cat = 12

In [41]:
dicact = {9: 'ninguna'   
}
#12
numbers_act = list(violencia[violencia['nom_actividad'].isna()].index)
for i in range(len(numbers_act)):
   
    violencia['nom_actividad'].loc[numbers_act[i]] = dicact[9]
    violencia['actividad'].loc[numbers_act[i]] = 12

In [43]:
percent_missing = violencia.isnull().sum() * 100 / len(violencia)
miss_values = pd.DataFrame({'label': violencia.columns,
                            'missing': percent_missing})
miss_values[miss_values['missing']> 0]

                       label    missing
Grupo edad        Grupo edad   0.009764
Ciclo de vida  Ciclo de vida   0.009764
Comuna                Comuna   0.868971
con_fin_            con_fin_   0.039055
sexo_agre          sexo_agre   0.068346
fec_hecho          fec_hecho   0.048819
hora_hecho        hora_hecho  44.727592
escenario          escenario   0.029291

In [44]:
violencia.to_csv('.\Violencia_clean.csv',encoding="utf-8")

In [59]:
violencia['sexo_']

0        Masculino
1        Masculino
2         Femenino
3         Femenino
4         Femenino
           ...
10330    Masculino
10331    Masculino
10332     Femenino
10333     Femenino
10334     Femenino
Name: sexo_, Length: 10242, dtype: category
Categories (2, object): ['Femenino', 'Masculino']

In [60]:
violencia[violencia['sexo_'] == 'Femenino'].count()

Orden                       7011
Departamento                7011
Municipio                   7011
semana                      7011
año                         7011
Grupo edad                  7011
Ciclo de vida               7011
sexo_                       7011
area_                       7011
Barrio                      7011
Comuna                      6942
Tipo de Seguridad Social    7011
pac_hos_                    7011
con_fin_                    7009
version                     7011
naturaleza                  7011
def_naturaleza              7011
actividad                   7011
nom_actividad               7011
edad_agre                   7011
sexo_agre                   7006
parentezco_vict             7011
sust_vict                   7011
fec_hecho                   7006
hora_hecho                  3726
escenario                   7008
zona_conf                   7011
nom_eve                     7011
nom_upgd                    7011
ndep_resi                   7011
nmun_resi                   7011
MES                         7011
dtype: int64

In [56]:
violencia.corr()

,Orden,semana,pac_hos_,edad_agre,sust_vict,escenario,zona_conf,MES
Orden,1.000000,-0.066544,0.007827,-0.094755,0.016887,0.085436,0.028320,-0.084658
semana,-0.066544,1.000000,0.001193,0.010014,0.001932,0.001861,-0.009106,0.905272
pac_hos_,0.007827,0.001193,1.000000,0.044179,0.031254,-0.017909,-0.018543,0.015861
edad_agre,-0.094755,0.010014,0.044179,1.000000,-0.005938,-0.040472,-0.013729,0.024698
sust_vict,0.016887,0.001932,0.031254,-0.005938,1.000000,-0.016889,0.040347,-0.007642
escenario,0.085436,0.001861,-0.017909,-0.040472,-0.016889,1.000000,0.007305,0.014107
zona_conf,0.028320,-0.009106,-0.018543,-0.013729,0.040347,0.007305,1.000000,-0.000865
MES,-0.084658,0.905272,0.015861,0.024698,-0.007642,0.014107,-0.000865,1.000000